COMPOSE_PROJECT_NAME=e-bank
APP_DEMO_ENABLED=true
FRONTEND_PORT=4200
GATEWAY_PORT=18080
DISCOVERY_PORT=18761
CUSTOMER_PORT=18081
ACCOUNT_PORT=18082
TRANSACTION_PORT=18083
REPORTING_PORT=18084
ZOOKEEPER_PORT=22181
KAFKA_PORT=29092
KAFKA_UI_PORT=19090
